<div class = "main authenticate" >
    <div class ="container">
        <div class ="form-heading">ユーザー認証</div>
        <div class = "form users-form">
            <% if @user && @user.errors.any? %>
                <%= @user.errors.full_messages.each do |message|%>
                    <div class = "form-error">
                        <%= message %>
                    </div>
                <% end %>
            <% end %>
            
            <div class = "form-body">
                <%= form_tag("/users/#{@user.id}/authenticate", {method: "post"})do  %>
                    <p>パスワード</p>
                    <input name ="password" type = "password">
                    <input type = "submit" value = "認証">
                <% end %>
            </div>
        </div>
    </div>
</div>