<div class = "main user-info">
    <div class = "container">
        <div class = "user">
            <p>ユーザー名</p>
            <h2><%= @user.name %></h2>
            <p>メールアドレス</p>
            <h2><%= @user.email %></h2>
            <% if @user.id == @current_user.id %>
                <%= link_to("編集", authenticate_form_user_path(@user)) %>
            <% end %>
        </div>
    </div>
</div>
