<div class = "main user-info">
    <div class = "container">
        <div class="form-heading">ユーザー情報</div>
            <div class = "user-forms">
                <% if @user.present? %>
                    <div>ユーザー名</div>
                    <div class = "user-form" ><%= @user.name %></div>
                    <div>メールアドレス</div>
                    <div class = "user-form" ><%= @user.email %></div>
            
                    <% if @current_user.present? && @user.id == @current_user.id %>        
                        <%= link_to authenticate_form_user_path(@user), class: 'common-button' do %>
                            変更
                        <% end %>
                    <% end %>
                <% else %>
                    <p>ユーザー情報が見つかりません。</p>
                <% end %>
            </div>
        </div>
    </div>
</div>
