<div class = "calendar main">

    <div class = "newshifttitle">
        <p>新規シフト入力</p>
    </div>

    <tbody>
        <td>
            <%= month_calendar do |date| %>
            <span class="day-number"><%= date.day %></span>
        </td>
    </tbody>
</div>
