$primary-color: darkorange;
$hover-color: rgb(219, 94, 56);
$text-color: black;
    
    .path-block-link {
        text-decoration: none;
    }

    .authenicate-forms {
        width: 25%;
        display: flex;
        margin-top: 20px;
    }

    .edit-user-forms {
        width: 25%;
        display: flex;
        margin-top: 20px;
    }